
@*@{              //Before _ViewStart we need it
    Layout ="~/Views/Shared/_Layout.cshtml";
}*@
<!-- Code Above is C# code that runs/executed on Server side-->

@{
    ViewBag.Title = "Posts";
}
<!DOCTYPE html>


    <div>
        <h1>Posts Index</h1>
        @if (true)
        {
            <text>
                <p>True here is  inside</p>
            </text>
        }
        <a href="@Url.RouteUrl("login")">
            <!--  <a href="/login">-->
            <p>Click here to login!</p>
        </a>
        <p>
            @Html.RouteLink("Click here ","login") to login
        </p>
    </div>


